%header
  %div.nav
    %div.logo
      = link_to image_tag("logo.png", alt: "Rails logo")
    %div.h1
      = 'Experteese in Ruby_on_Rails'
    %ul.links
      %li
        =link_to 'помощь', main_help_path
      %li
        =link_to 'о проекте', main_about_path